<ion-header>

  <ion-navbar>
    <ion-title>{{ event.nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="event-profile" [style.background-image]="'url(https://puntoslash.com.ar/desarrollo/images/eventos/'+ event.id + '.jpg)'">
		<button *ngIf="event.asistencia == 0" ion-button round icon-start color="primary">Confirma asistencia</button>
		<button *ngIf="event.asistencia == 1" ion-button round icon-start color="green"><ion-icon name="checkmark"></ion-icon>Vas al evento</button>
		<button *ngIf="event.asistencia == 2" ion-button round icon-start color="danger"><ion-icon name="close"></ion-icon>No vas al evento</button>
	</div>
	<div padding-top>
	<div class="event-detail" padding>
		<ion-segment [(ngModel)]="asistencia">
			<ion-segment-button value="1">
				Titulares
			</ion-segment-button>
			<ion-segment-button value="3">
				Suplentes
			</ion-segment-button>
			<ion-segment-button value="0">
				A confirmar
			</ion-segment-button>
			<ion-segment-button value="2">
				No van
			</ion-segment-button>
		</ion-segment>

		<div [ngSwitch]="asistencia" *ngFor="let jugador of jugadores">
			<ion-list *ngSwitchCase="{{jugador.asistencia}}">
				<h2>jugador.nombre</h2>
			</ion-list>
		</div>
	</div>
	</div>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col>
			<button ion-button block color="green" icon-start [disabled]="event.asistencia == 1 ? true : false">
				<ion-icon name='checkmark'></ion-icon>
				VOY
			</button>
		</ion-col>

		<ion-col>
			<button ion-button block color="danger" icon-start [disabled]="event.asistencia == 2 ? true : false">
				<ion-icon name='close'></ion-icon>
				NO VOY
			</button>
		</ion-col>

		<ion-col center text-center>
			<button ion-button block color="secondary" icon-start>
				<ion-icon name='people'></ion-icon>
				INVITAR GENTE
			</button>
		</ion-col>
	</ion-row>
</ion-footer>
