page-event-detail {

	//Foto del usuario grande
	.event-profile {
		width: 100%;
		background-position: center center;
		background-size: cover;
		height: 250px;
		position: relative;
	}

	//Boton circular con la asistencia al evento
	.event-profile>button {
		position: absolute;
		right: 20px;
		bottom: -18px;
		z-index: 1000;
	}

	.event-detail {
		background: white;
	}
}
