<ion-header>

  <ion-navbar>
    <ion-title>{{ event.nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="event-profile" [style.background-image]="'url(https://puntoslash.com.ar/desarrollo/images/eventos/'+ event.id + '.jpg)'">
		<div class="asistencia">
			<button *ngIf="event.asistencia == 0" ion-button round icon-start color="primary">Confirma asistencia</button>
			<button *ngIf="event.asistencia == 1" ion-button round icon-start color="green"><ion-icon name="checkmark"></ion-icon>Vas al evento</button>
			<button *ngIf="event.asistencia == 2" ion-button round icon-start color="danger"><ion-icon name="close"></ion-icon>No vas al evento</button>
		</div>
		<div class="tiempo">
			<button ion-button round icon-only color="primary">
				<ion-icon name="rainy"></ion-icon>
			</button>
			<button ion-button small>
				30°
			</button>
		</div>
	</div>


	<ion-fab top right>
		<button mini ion-fab color="white">
			<ion-icon name="settings"></ion-icon>
		</button>
		<ion-fab-list side="left">
			<button ion-fab>
				<ion-icon name="create"></ion-icon>
			</button>
			<button ion-fab>
				<ion-icon name="close-circle"></ion-icon>
			</button>
			<button ion-fab>
				<ion-icon name="log-out"></ion-icon>
			</button>
			<button ion-fab>
				<ion-icon name="trash"></ion-icon>
			</button>
		 </ion-fab-list>
	</ion-fab>

	<div padding-top>
		<div class="event-detail" padding>
			<ion-segment [(ngModel)]="asistencia">
				<ion-segment-button value="1">
					Titulares
				</ion-segment-button>
				<ion-segment-button value="3">
					Suplentes
				</ion-segment-button>
				<ion-segment-button value="0">
					A confirmar
				</ion-segment-button>
				<ion-segment-button value="2">
					No van
				</ion-segment-button>
			</ion-segment>
	
			<br>
	
			<div [ngSwitch]="asistencia" *ngFor="let jugador of detail">
				<ion-list *ngSwitchCase=jugador.asistencia>
					<ion-item-sliding>
						<button ion-item (click)="openUser(jugador)">
							<ion-avatar item-start>
								<img [src]="'https://puntoslash.com.ar/desarrollo/images/usuarios/'+jugador.foto" />
							</ion-avatar>
							<h2><b>{{jugador.nombre}} {{jugador.apellido}}</b></h2>
							<p>{{jugador.email}}</p>
							<ion-icon name="more" item-right></ion-icon>
						</button>
	
						<ion-item-options>
							<button ion-button color="danger">
								<ion-icon name="star"></ion-icon>
							</button>
						</ion-item-options>
						<ion-item-options>
							<button ion-button color="grey">
								<ion-icon name="trash"></ion-icon>
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</div>
		</div>
	</div>

	<!-- REFRESHER -->
	<ion-refresher (ionRefresh)="doRefresher($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col>
			<button ion-button block color="green" icon-start [disabled]="event.asistencia == 1 ? true : false">
				<ion-icon name='checkmark'></ion-icon>
				VOY
			</button>
		</ion-col>

		<ion-col>
			<button ion-button block color="danger" icon-start [disabled]="event.asistencia == 2 ? true : false">
				<ion-icon name='close'></ion-icon>
				NO VOY
			</button>
		</ion-col>

		<ion-col center text-center>
			<button ion-button block color="secondary" icon-start>
				<ion-icon name='people'></ion-icon>
				INVITAR GENTE
			</button>
		</ion-col>
	</ion-row>
</ion-footer>
