page-user-detail {

	//Foto del usuario grande
	.item-profile {
		width: 100%;
		background-position: center center;
		background-size: cover;
		height: 250px;
		position: relative;
	}

	//Boton circular con el nombre del usuario
	.item-profile>button {
		position: absolute;
		right: 20px;
		bottom: -18px;
		z-index: 1000;
	}

	.item-detail {
		width: 100%;
		background: white;
		position: absolute;
	}

	ion-scroll {
		height: 300px;
		white-space: nowrap;
	}

	ion-card {
		width: 160px !important;
		display: inline-block;
		position: relative;
	}

	ion-row {
		background-color: #f2f2f2;
	}

	.card-title {
		position: absolute;
		top: 36%;
		font-size: 14px;
		width: 100%;
		font-weight: bold;
		color: #fff;
		text-align: center;
		padding-left: 2px;
		padding-right: 2px;
	}

	ion-card>img {
		height: 110px;
		filter: drop-shadow(8px 8px 10px gray) blur(1px) brightness(0.4);
	}

	ion-card>button {
		margin: 0px !important;
	}
}
