<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getUsers($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let user of users">
      <ion-avatar item-start>
        <img [src]="user.foto" />
      </ion-avatar>
      <h2>{{user.nombre}} {{user.apellido}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="user.email">{{item.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>
